@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.btn-custom {
    display: inline-block;
    margin-top: 15px;
    background-color: $color-principal;
    color: $color-texto-claro;
    border: 2px solid $color-principal;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: 600;
    text-decoration: none;

    @include transicion();

    &:hover,
    &:focus {
        background-color: $color-fondo;
        border-color: $color-fondo;
        color: $color-texto-oscuro;
        transform: translateY(-3px);
    }

    &:active {
        background-color: $color-texto-oscuro;
        border-color: $color-texto-oscuro;
        color: $color-texto-claro;
        transform: translateY(0);
    }
}